In [4]:
d = {"name" : "ali", "age" : 20, "job" : "student"}

In [5]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'age', 'job'])
dict_values(['ali', 20, 'student'])
dict_items([('name', 'ali'), ('age', 20), ('job', 'student')])

In [13]:
for _ in d:
    print(f"{_} : {d[_]}")

name : ali
age : 20
job : student

In [14]:
di = {"model" : "mustang", "brand" : "ford", "year" : 1995}
di

{'model': 'mustang', 'brand': 'ford', 'year': 1995}

In [15]:
di["model"]

'mustang'

In [16]:
di["color"] = "black"
di

{'model': 'mustang', 'brand': 'ford', 'year': 1995, 'color': 'black'}

In [17]:
di.update({"engine" : "gas"})
di

{'model': 'mustang',
 'brand': 'ford',
 'year': 1995,
 'color': 'black',
 'engine': 'gas'}

In [18]:
di["color"] = "white"
di

{'model': 'mustang',
 'brand': 'ford',
 'year': 1995,
 'color': 'white',
 'engine': 'gas'}

In [19]:
di.pop("year")
di

{'model': 'mustang', 'brand': 'ford', 'color': 'white', 'engine': 'gas'}

In [20]:
family = {
    "father": {
        "name": {"fname": "john", "lname": "smith"},
        "age": 50,
        "job": {1: "employee", 2: "super market"},
    },
    "mother": {
        "name": {"fname": "jerry", "lname": "rose"},
        "age": 46,
        "job": {1: "house keeper", 2: "frontend designer"},
    },
    "sons": {
        "son1": {
            "name": {"fname": "jack", "lname": "smith"},
            "age": 20,
            "job": {1: "mechanic engineer", 2: "student"},
        },
        "son2": {
            "name": {"fname": "joseph", "lname": "smith"},
            "age": 18,
            "job": {1 : "workless", 2: "student"},
        },
    }
}

In [23]:
print(family["father"]["name"]["fname"], family["father"]["name"]["lname"])

john smith